#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    /* background-color: black; */
    color: white;
  }
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    /* background-color: white; */
    color: black;
  }
}

/* styles.css */
.content-wrapper,
.form-wrapper {
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.content-wrapper.hide {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.form-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.form-wrapper.show {
  max-height: 500px; /* Adjust according to your form height */
  opacity: 1;
}
.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}
@media (max-width: 600px) {
  #root {
    padding: 0;
  }
}
